# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

#### 3. Write a Python program to find the repeated items of a tuple.

[link text](https://)### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

#Answers

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [ ]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
print("List of items for sale")
for item_cost in amazon_website:
  print(f" {item_cost[0]} costs Rs: {item_cost[1]}")
lst1 = list()
total_cost =0
user_in = " "
while user_in !="":
  user_in = input("Which iteam you want purchase ? (Press return to exit Purchasing) ::>")
  counter1=0
  for item in amazon_website:    
    if user_in == item[0]:
      counter1 +=1
      total_cost = item[1]+total_cost
      lst1.append(item[0])
  if counter1==0:
    print("Currently we are not seling this item. Try again later")

print(f"Total Cost {total_cost} for items {lst1}")

List of items for sale
 watch costs Rs: 5000
 phone costs Rs: 10000
 laptop costs Rs: 50000
 shirt costs Rs: 1000
Which iteam you want purchase ? (Press return to exit Purchasing) ::>asdf
Currently we are not seling this item. Try again later
Which iteam you want purchase ? (Press return to exit Purchasing) ::>shirt
Which iteam you want purchase ? (Press return to exit Purchasing) ::>phone
Which iteam you want purchase ? (Press return to exit Purchasing) ::>shirt
Which iteam you want purchase ? (Press return to exit Purchasing) ::>phone
Which iteam you want purchase ? (Press return to exit Purchasing) ::>
Currently we are not seling this item. Try again later
Total Cost 22000 for items ['shirt', 'phone', 'shirt', 'phone']

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [ ]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
  arr[i - 1] = arr[i]
print(" This code will shift position of elements in a list by one to left side and retain the last item as it is")
for i in range(0, 6):
  
  print(arr[i], end = " ")

 This code will shift position of elements in a list by one to left side and retain the last item as it is
2 3 4 5 6 6

#### 3. Write a Python program to find the repeated items of a tuple.

In [ ]:
tup1 = (1,2,3, 4, 1,2,4,5,6,1,2,1)
tup2 = tuple(set(tup1))

for i in range(len(tup2)):
  count=0
  for j in range(len(tup1)):
    if tup2[i] == tup1[j]:
      count +=1
  if count>1:
    print(f" {tup2[i]} contains  {count} times in tuple {tup1}")

 1 contains  4 times in tuple (1, 2, 3, 4, 1, 2, 4, 5, 6, 1, 2, 1)
 2 contains  3 times in tuple (1, 2, 3, 4, 1, 2, 4, 5, 6, 1, 2, 1)
 4 contains  2 times in tuple (1, 2, 3, 4, 1, 2, 4, 5, 6, 1, 2, 1)

[link text](https://)### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

newlist = [expression for item in iterable if condition == True]

In [22]:
lst3 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
lst4 = list()
for i in lst3:
  list(i)[2] = 500
  i=tuple(i)
  #print(i)
  lst4.append(i)
print(lst4)

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [27]:
lst3 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
lst4 = list()
lst5 = [[list(i)[2] == 500] for i in lst3 ]

print(lst5)

[[False], [False], [False]]